
@{
    ViewData["Title"] = "Заказ оформлен";
}

<h2>@ViewData["Title"]</h2>

<p>Заказ @ViewBag.OrderId оформлен и в скором времени будет обработан</p>

<a asp-area="" asp-controller="Home" asp-action="Index">На главную страницу</a>
