@{
    Layout = "_LayoutBase";
}

<div class="container">
    <vc:bread-crumbs/>

    @RenderBody()
</div>

@section Styles
{
    @RenderSection("Styles", false)
}

@section Scripts
{
    @RenderSection("Scripts", false)
}