@using WebStore.Domain.Entities.Identity
<div class="shop-menu pull-right">
    <ul class="nav navbar-nav">
        <li><a asp-controller="Profile" asp-action="Index"><i class="fa fa-user"></i> @User.Identity.Name</a></li>
        @if (User.IsInRole(Role.Administrator))
        {
            <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-key"></i> Админка</a></li>
        }
        <li><a href="#"><i class="fa fa-star"></i> Список желаний</a></li>
        <li><a href="#"><i class="fa fa-crosshairs"></i> Заказы</a></li>
        <li><a asp-controller="Cart" asp-action="Details"><i class="fa fa-shopping-cart"></i> Корзина</a></li>
        <li>
            <form asp-controller="Account" asp-action="Logout" asp-antiforgery="true" method="post">
                <button type="submit" class="btn btn-link"><i class="fa fa-sign-out"></i> Выход</button>
            </form>
        </li>
    </ul>
</div>