<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Первое представление</h1>
    <hr />
<p>Hello World! 123</p>
<p>
    <a href="/home/readconfig">Config?</a>
</p>
</body>
</html>
